<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <f:if condition="{carousel}">
        <f:then>
            <f:if condition="{bootstrapVersion} == '3'">
                <f:render partial="Show/Bootstrap3/Carousel"
                          arguments="{carousel: carousel, hideIndicators: hideIndicators, hidePrevNextControls: hidePrevNextControls, hideCaptions: hideCaptions, intervall: intervall}"/>
            </f:if>
            <f:if condition="{bootstrapVersion} == '4'">
                <f:render partial="Show/Bootstrap4/Carousel"
                          arguments="{carousel: carousel, hideIndicators: hideIndicators, hidePrevNextControls: hidePrevNextControls, hideCaptions: hideCaptions, intervall: intervall}"/>
            </f:if>
            <f:if condition="{bootstrapVersion} == 'none'">
                <div class="no-bootstrap-versio">
                    <f:translate key="tx_auxiliawebbootstrapcarousel_domain_model_carousel.no_bootstrap_version_found"/>
                </div>
            </f:if>
        </f:then>
        <f:else>
            <div class="no-carousel-found">
                <f:translate key="tx_auxiliawebbootstrapcarousel_domain_model_carousel.no_carousel_found"/>
            </div>
        </f:else>
    </f:if>
</f:section>
</html>
