<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="carousel-{carousel.uid}" class="carousel slide {carousel.additionalCssClass}" data-ride="carousel">
    <f:if condition="{hideIndicators}">
        <f:else>
            <ol class="carousel-indicators">
                <f:for each="{carousel.carouselItem}" as="carouselItem" iteration="iterator">
                    <li data-target="#carousel-{carousel.uid}"
                        data-slide-to="{iterator.index}"
                        class="{f:if(condition: '{iterator.index}==0', then: 'active')}"></li>
                </f:for>
            </ol>
        </f:else>
    </f:if>

    <div class="carousel-inner" role="listbox">
        <f:for each="{carousel.carouselItem}" as="carouselItem" iteration="iterator">
            <f:render partial="Show/Bootstrap3/CarouselItem"
                      arguments="{carouselItem: carouselItem, hideCaptions: hideCaptions, index: iterator.index}"/>
        </f:for>
    </div>

    <f:if condition="{hidePrevNextControls}">
        <f:else>
            <a class="left carousel-control" href="#carousel-{carousel.uid}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">
                    <f:translate key="tx_auxiliawebbootstrapcarousel_domain_model_carousel.previous"/>
                </span>
            </a>
            <a class="right carousel-control" href="#carousel-{carousel.uid}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">
                    <f:translate key="tx_auxiliawebbootstrapcarousel_domain_model_carousel.next"/>
                </span>
            </a>
        </f:else>
    </f:if>
</div>
</html>
