<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="item {f:if(condition: '{index}==0', then: 'active')} {carouselItem.additionalCssClass}">
    <f:image image="{carouselItem.image}"
             title="{carouselItem.image.title}"
             alt="{carouselItem.image.alternative}"/>
    <f:if condition="{hideCaptions}">
        <f:else>
            <div class="carousel-caption">
                <f:format.html>{carouselItem.text}</f:format.html>
            </div>
        </f:else>
    </f:if>
</div>
</html>
